Repository drew-foxall/a2a-js-sdk-examples: changes, and which lefthook commands are due for each by the changed paths.
All: lint-fix, typecheck

lint-fix:
  run: pnpm run lint:fix
  stage_fixed: true

typecheck:
  run: pnpm run typecheck

chore(pnpm): move inspector overrides to workspace root
  a2a-inspector/package.json
  package.json
Due: lint-fix

chore(pnpm): update lockfile for workspace overrides
  pnpm-lock.yaml
Due: none

chore(vercel): remove repo-root vercel.json (use a2a-inspector/vercel.json)
  vercel.json
Due: lint-fix

feat(inspector): route AI SDK chat through Elysia
  a2a-inspector/DEPLOYMENT.md
  a2a-inspector/app/api/ai-sdk-chat/route.ts
  a2a-inspector/next.config.ts
  a2a-inspector/server/index.ts
  a2a-inspector/server/routes/ai-sdk-chat.ts
  package.json
Due: lint-fix, typecheck

chore(inspector): pin Bun version for Vercel builds
  a2a-inspector/vercel.json
Due: lint-fix

docs(inspector): restore detailed comments in ai-sdk-chat route
  a2a-inspector/server/routes/ai-sdk-chat.ts
Due: lint-fix, typecheck

perf(vercel): use turbo build for inspector + refine cache outputs
  a2a-inspector/vercel.json
  turbo.json
Due: lint-fix

perf(turbo): speed up lint caching + add global deps
  turbo.json
Due: lint-fix

fix(vercel): use turbo --cwd for monorepo build (no cd ..)
  a2a-inspector/package.json
  a2a-inspector/vercel.json
  pnpm-lock.yaml
Due: lint-fix

fix(inspector): accept null for contextId in ai-sdk-chat schema
  a2a-inspector/server/routes/ai-sdk-chat.ts
Due: lint-fix, typecheck

fix(inspector): format files and add bun overrides for react types
  a2a-inspector/package.json
  a2a-inspector/server/routes/ai-sdk-chat.ts
  a2a-inspector/vercel.json
Due: lint-fix, typecheck

refactor(inspector): replace type assertions with proper type guards in ai-sdk-chat
  a2a-inspector/server/routes/ai-sdk-chat.ts
Due: lint-fix, typecheck

refactor(inspector): improve type guards to eliminate casts
  a2a-inspector/hooks/useDirectA2A.ts
  a2a-inspector/lib/a2a-type-guards.ts
Due: lint-fix, typecheck

fix(inspector): use absolute path for turbopack.root
  a2a-inspector/components/ai-elements/prompt-input.tsx
  a2a-inspector/components/connection/AuthConfigPanel.tsx
  a2a-inspector/components/connection/CustomHeadersPanel.tsx
  a2a-inspector/components/ui/input-group.tsx
  a2a-inspector/components/views/AISDKView.tsx
  a2a-inspector/context/ThemeContext.tsx
  a2a-inspector/next.config.ts
  a2a-inspector/server/routes/ai-sdk-chat.ts
  a2a-inspector/server/services/validators.ts
Due: lint-fix, typecheck

chore: pin Node.js engine to 24.x LTS
  a2a-inspector/package.json
  examples/agents/package.json
  package.json
  packages/a2a-ai-provider-v3/package.json
  packages/a2a-ai-sdk-adapter/package.json
Due: lint-fix

refactor(inspector): rename files to kebab-case convention
  a2a-inspector/biome.json
  a2a-inspector/components/connection/agent-card-display.tsx
  a2a-inspector/components/connection/auth-config-panel.tsx
  a2a-inspector/components/connection/connection-form.tsx
  a2a-inspector/components/connection/connection-status.tsx
  a2a-inspector/components/connection/custom-headers-panel.tsx
  a2a-inspector/components/connection/index.ts
  a2a-inspector/components/connection/validation-errors.tsx
  a2a-inspector/components/debug/debug-console.tsx
  a2a-inspector/components/debug/index.ts
  a2a-inspector/components/debug/json-viewer-modal.tsx
  a2a-inspector/components/message/events-dropdown.tsx
  a2a-inspector/components/message/index.ts
  a2a-inspector/components/message/kind-chip.tsx
  a2a-inspector/components/message/validation-status.tsx
  a2a-inspector/components/session/index.ts
  a2a-inspector/components/session/session-details-panel.tsx
  a2a-inspector/components/views/ai-sdk-view.tsx
  a2a-inspector/components/views/direct-a2a-view.tsx
  a2a-inspector/components/views/index.ts
  a2a-inspector/context/index.ts
  a2a-inspector/context/inspector-context.tsx
  a2a-inspector/context/theme-context.tsx
  a2a-inspector/hooks/use-agent-connection.ts
  a2a-inspector/hooks/use-direct-a2a.ts
  a2a-inspector/hooks/use-url-state.ts
Due: lint-fix, typecheck

fix: update wrangler to 4.56.0 for Zod v4 compatibility
  examples/workers/adversarial-defender/package.json
  examples/workers/airbnb-agent/package.json
  examples/workers/airbnb-mcp-server/package.json
  examples/workers/analytics-agent/package.json
  examples/workers/auth-agent/package.json
  examples/workers/code-review/package.json
  examples/workers/contact-extractor/package.json
  examples/workers/content-planner/package.json
  examples/workers/currency-agent/package.json
  examples/workers/dice-agent-durable/package.json
  examples/workers/dice-agent/package.json
  examples/workers/expense-agent/package.json
  examples/workers/github-agent/package.json
  examples/workers/hello-world/package.json
  examples/workers/image-generator-durable/package.json
  examples/workers/image-generator/package.json
  examples/workers/local-llm-chat/package.json
  examples/workers/mcp-registry/package.json
  examples/workers/number-game-alice/package.json
  examples/workers/number-game-carol/package.json
  examples/workers/travel-planner-durable/package.json
  examples/workers/travel-planner/package.json
  examples/workers/weather-agent/package.json
  pnpm-lock.yaml
Due: lint-fix

feat(multi-worker): add grouped start/deploy commands for multi-agent workers
  docs/MULTI_WORKER_AGENTS.md
  examples/workers/README.md
  examples/workers/airbnb-agent/package.json
  examples/workers/airbnb-agent/wrangler.toml
  examples/workers/airbnb-mcp-server/package.json
  examples/workers/travel-planner/README.md
  examples/workers/travel-planner/package.json
  examples/workers/travel-planner/wrangler.toml
  examples/workers/weather-agent/package.json
  package.json
  turbo.json
Due: lint-fix

fix(multi-worker): set concurrency to n+1 for persistent tasks
  docs/MULTI_WORKER_AGENTS.md
  package.json
Due: lint-fix

fix(multi-worker): assign unique inspector ports to avoid conflicts
  docs/MULTI_WORKER_AGENTS.md
  examples/workers/airbnb-agent/package.json
  examples/workers/airbnb-mcp-server/package.json
  examples/workers/travel-planner/package.json
  examples/workers/weather-agent/package.json
Due: lint-fix

fix(travel-planner): prevent unnecessary status messages in prompt
  a2a-inspector/components/connection/connection-form.tsx
  examples/agents/src/agents/travel-planner-multiagent/planner/prompt.ts
Due: lint-fix, typecheck

fix(ai-sdk-view): only show loading spinner when waiting for first token
  a2a-inspector/components/views/ai-sdk-view.tsx
Due: lint-fix, typecheck

docs: add local development secrets documentation
  docs/MULTI_WORKER_AGENTS.md
  examples/workers/airbnb-agent/wrangler.toml
Due: none

fix(inspector): prevent redirect loop when navigating back to home
  a2a-inspector/components/sidebar/site-header.tsx
  a2a-inspector/hooks/use-url-state.ts
Due: lint-fix, typecheck

fix(connection-form): track connection initiation to prevent stale redirects
  a2a-inspector/components/connection/connection-form.tsx
Due: lint-fix, typecheck

refactor(inspector): simplify URL state - use routing as source of truth
  a2a-inspector/components/connection/connection-form.tsx
  a2a-inspector/components/sidebar/site-header.tsx
  a2a-inspector/hooks/use-agent-connection.ts
  a2a-inspector/hooks/use-url-state.ts
Due: lint-fix, typecheck

fix(connection-form): remove useEffect, use imperative flow
  a2a-inspector/components/connection/connection-form.tsx
  a2a-inspector/hooks/use-agent-connection.ts
Due: lint-fix, typecheck

fix(inspector): exclude Bun scripts from TypeScript checking
  a2a-inspector/tsconfig.json
Due: lint-fix

chore: apply lint auto-fixes
  a2a-inspector/components/connection/connection-form.tsx
  a2a-inspector/components/views/ai-sdk-view.tsx
  a2a-inspector/hooks/use-agent-connection.ts
  a2a-inspector/hooks/use-url-state.ts
Due: lint-fix, typecheck

chore: bump package versions for npm publish
  packages/a2a-ai-provider-v3/CHANGELOG.md
  packages/a2a-ai-provider-v3/package.json
  packages/a2a-ai-sdk-adapter/CHANGELOG.md
  packages/a2a-ai-sdk-adapter/package.json
Due: lint-fix

Path conditions:
  lint-fix: any of: *.{ts,tsx,js,jsx,json}
  typecheck: any of: *.{ts,tsx}
