Repository drew-foxall/a2a-js-sdk-examples: changes, and which lefthook commands are due for each by the changed paths.
All: lint-fix, typecheck

lint-fix:
  run: pnpm run lint:fix
  stage_fixed: true

typecheck:
  run: pnpm run typecheck

fix: remove vercel build script that fails in CI
  examples/vercel/dice-agent/package.json
Due: lint-fix

fix(ci): use working-directory for pnpm pack command
  .github/workflows/ci.yml
Due: none

ci: optimize GitHub Actions with Turbo remote cache and parallel jobs
  .github/SETUP.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

chore: clean up completed documentation, convert outstanding work to beads
  .beads/issues.jsonl
  README.md
  docs/COMPLIANCE-ASSESSMENT.md
  docs/DURABLE-WORKER-DECISION.md
  docs/NEXT-PHASE-IMPLEMENTATION-PLAN.md
  docs/PATTERN-ANALYSIS.md
  docs/TASKSTORE-INTEGRATION-ANALYSIS.md
  docs/WORKFLOW-INTEGRATION-PLAN.md
  docs/python-examples-reference/IMPLEMENTATION-PLAN.md
  examples/agents/package.json
Due: lint-fix

feat: add worker smoke tests and fix Node.js dependency leak
  .cursor/prompts/dry-patterns-agent.md
  examples/agents/package.json
  examples/workers/dice-agent-durable/src/index.ts
  examples/workers/dice-agent-durable/wrangler.toml
  examples/workers/image-generator-durable/src/index.ts
  examples/workers/image-generator-durable/wrangler.toml
  examples/workers/mcp-registry/README.md
  examples/workers/mcp-registry/package.json
  examples/workers/mcp-registry/tsconfig.json
  examples/workers/mcp-registry/wrangler.toml
  examples/workers/shared/endpoint-tests.ts
  examples/workers/shared/index.ts
  examples/workers/shared/package.json
  examples/workers/travel-planner-durable/src/index.ts
  examples/workers/travel-planner-durable/wrangler.toml
  package.json
  packages/a2a-ai-sdk-adapter/src/index.ts
  scripts/integration-test-workers.ts
  scripts/smoke-test-workers.ts
Due: lint-fix, typecheck

feat(inspector): Add UIMessageStream with A2A events for useChat
  a2a-inspector/app/api/ai-sdk-chat/route.ts
  a2a-inspector/components/views/AISDKView.tsx
  a2a-inspector/components/views/DirectA2AView.tsx
  a2a-inspector/schemas/a2a-events.ts
  a2a-inspector/types/inspector.ts
  examples/workers/hello-world/package.json
  pnpm-lock.yaml
Due: lint-fix, typecheck

style(inspector): Align AI SDK view visual consistency with Direct A2A
  a2a-inspector/components/views/AISDKView.tsx
Due: lint-fix, typecheck

fix(inspector): Prevent JSON modal from cutting off content
  a2a-inspector/components/debug/JsonViewerModal.tsx
Due: lint-fix, typecheck

style(inspector): Apply Lyra style with Orange theme and Nunito Sans
  a2a-inspector/app/globals.css
  a2a-inspector/app/layout.tsx
  a2a-inspector/app/page.tsx
  a2a-inspector/components.json
  a2a-inspector/package.json
  pnpm-lock.yaml
Due: lint-fix, typecheck

style(inspector): Replace hardcoded emerald colors with theme variables
  .cursor/mcp.json
  .cursor/prompts/dry-patterns-agent.md
  .cursor/worktrees.json
  a2a-inspector/components/connection/AgentCardDisplay.tsx
  a2a-inspector/components/connection/AuthConfigPanel.tsx
  a2a-inspector/components/connection/ConnectionForm.tsx
  a2a-inspector/components/connection/ConnectionStatus.tsx
  a2a-inspector/components/connection/CustomHeadersPanel.tsx
  a2a-inspector/components/debug/DebugConsole.tsx
  a2a-inspector/components/debug/JsonViewerModal.tsx
  a2a-inspector/components/message/KindChip.tsx
  a2a-inspector/components/message/ValidationStatus.tsx
  a2a-inspector/components/session/SessionDetailsPanel.tsx
Due: lint-fix, typecheck

feat(inspector): apply Lyra style preset with @base-ui/react components
  .cursor/rules/base-ui.mdc
  a2a-inspector/app/globals.css
  a2a-inspector/app/layout.tsx
  a2a-inspector/app/page.tsx
  a2a-inspector/components.json
  a2a-inspector/components/connection/AgentCardDisplay.tsx
  a2a-inspector/components/connection/ConnectionForm.tsx
  a2a-inspector/components/connection/ConnectionStatus.tsx
  a2a-inspector/components/ui/alert-dialog.tsx
  a2a-inspector/components/ui/badge.tsx
  a2a-inspector/components/ui/button.tsx
  a2a-inspector/components/ui/card.tsx
  a2a-inspector/components/ui/field.tsx
  a2a-inspector/components/ui/input-group.tsx
  a2a-inspector/components/ui/input.tsx
  a2a-inspector/components/ui/label.tsx
  a2a-inspector/components/ui/separator.tsx
  a2a-inspector/components/ui/textarea.tsx
  a2a-inspector/components/views/AISDKView.tsx
  a2a-inspector/components/views/DirectA2AView.tsx
  a2a-inspector/lib/utils.ts
  a2a-inspector/package.json
  pnpm-lock.yaml
Due: lint-fix, typecheck

feat(a2a-inspector): migrate to Base UI components with Lyra style
  .cursor/rules/base-ui.mdc
  a2a-inspector/app/globals.css
  a2a-inspector/app/page.tsx
  a2a-inspector/components/ai-elements/message.tsx
  a2a-inspector/components/ai-elements/prompt-input.tsx
  a2a-inspector/components/connection/AgentCardDisplay.tsx
  a2a-inspector/components/connection/AuthConfigPanel.tsx
  a2a-inspector/components/connection/ConnectionForm.tsx
  a2a-inspector/components/connection/ConnectionStatus.tsx
  a2a-inspector/components/debug/JsonViewerModal.tsx
  a2a-inspector/components/message/ValidationStatus.tsx
  a2a-inspector/components/ui/alert-dialog.tsx
  a2a-inspector/components/ui/badge.tsx
  a2a-inspector/components/ui/button-group.tsx
  a2a-inspector/components/ui/button.tsx
  a2a-inspector/components/ui/card.tsx
  a2a-inspector/components/ui/collapsible.tsx
  a2a-inspector/components/ui/command.tsx
  a2a-inspector/components/ui/dialog.tsx
  a2a-inspector/components/ui/dropdown-menu.tsx
  a2a-inspector/components/ui/field.tsx
  a2a-inspector/components/ui/hover-card.tsx
  a2a-inspector/components/ui/input-group.tsx
  a2a-inspector/components/ui/label.tsx
  a2a-inspector/components/ui/select.tsx
  a2a-inspector/components/ui/separator.tsx
  a2a-inspector/components/ui/textarea.tsx
  a2a-inspector/components/ui/tooltip.tsx
  a2a-inspector/components/views/AISDKView.tsx
  a2a-inspector/components/views/DirectA2AView.tsx
  a2a-inspector/lib/utils.ts
Due: lint-fix, typecheck

fix(a2a-inspector): cleanup Base UI component type handling
  a2a-inspector/components/ai-elements/prompt-input.tsx
  a2a-inspector/components/ui/button-group.tsx
  a2a-inspector/components/ui/dropdown-menu.tsx
  a2a-inspector/components/ui/hover-card.tsx
  a2a-inspector/components/ui/select.tsx
  a2a-inspector/components/ui/tooltip.tsx
Due: lint-fix, typecheck

chore(a2a-inspector): update version to 0.1.0-beta.1 and add beta labeling
  a2a-inspector/app/layout.tsx
  a2a-inspector/app/page.tsx
  a2a-inspector/package.json
Due: lint-fix, typecheck

chore: upgrade Biome to 2.3.10 and enable noUndeclaredEnvVars rule
  biome.json
  package.json
  pnpm-lock.yaml
Due: lint-fix

feat(inspector): add Bun async_hooks warning notice and deploy workflow
  .github/workflows/deploy-inspector.yml
  a2a-inspector/package.json
  a2a-inspector/scripts/dev.ts
  a2a-inspector/server/routes/agent-card.ts
  a2a-inspector/server/routes/stream.ts
Due: lint-fix, typecheck

fix: resolve lint errors and runtime configuration
  a2a-inspector/app/api/[[...slugs]]/route.ts
  a2a-inspector/app/api/ai-sdk-chat/route.ts
  a2a-inspector/components/ui/field.tsx
  a2a-inspector/components/ui/label.tsx
  a2a-inspector/components/ui/tooltip.tsx
  a2a-inspector/server/routes/agent-card.ts
  a2a-inspector/server/routes/stream.ts
  packages/a2a-ai-sdk-adapter/package.json
  pnpm-lock.yaml
Due: lint-fix, typecheck

chore(inspector): add vercel.json configuration for deployment
  a2a-inspector/vercel.json
Due: lint-fix

docs: add Vercel deployment setup instructions and ignore .vercel directories
  .github/SETUP.md
  .gitignore
  package.json
Due: lint-fix

fix(ci): trigger preview deployments on all branch pushes
  .github/workflows/deploy-inspector.yml
Due: none

fix(inspector): configure turbopack.root for monorepo builds
  a2a-inspector/next.config.ts
Due: lint-fix, typecheck

fix(inspector): set outputFileTracingRoot to match turbopack.root
  a2a-inspector/next.config.ts
Due: lint-fix, typecheck

fix(inspector): use nodejs runtime instead of edge
  a2a-inspector/app/api/[[...slugs]]/route.ts
  a2a-inspector/app/api/ai-sdk-chat/route.ts
Due: lint-fix, typecheck

fix(inspector): use import.meta.url for reliable __dirname in ESM
  a2a-inspector/next.config.ts
Due: lint-fix, typecheck

fix(inspector): use process.cwd() for Bun compatibility
  a2a-inspector/next.config.ts
Due: lint-fix, typecheck

fix(inspector): detect workspace root dynamically for Vercel builds
  a2a-inspector/next.config.ts
Due: lint-fix, typecheck

fix(inspector): use relative paths for monorepo root config
  .github/workflows/deploy-inspector.yml
  a2a-inspector/next.config.ts
Due: lint-fix, typecheck

fix(inspector): use standalone output mode for Vercel deployment
  a2a-inspector/next.config.ts
Due: lint-fix, typecheck

fix(inspector): set both outputFileTracingRoot and turbopack.root to same absolute path
  a2a-inspector/next.config.ts
Due: lint-fix, typecheck

fix(inspector): deploy directly without local prebuild
  .github/workflows/deploy-inspector.yml
Due: none

fix(inspector): use --cwd flag for vercel build from workspace root
  .github/workflows/deploy-inspector.yml
Due: none

fix(inspector): move .vercel to workspace root for correct path resolution
  .github/workflows/deploy-inspector.yml
  .gitignore
  .vercel/project.json
  a2a-inspector/next.config.ts
Due: lint-fix, typecheck

chore: update vercel project config and gitignore
  .gitignore
  .vercel/project.json
Due: lint-fix

chore(inspector): optimize vercel build + CI
  .github/workflows/ci.yml
  .github/workflows/deploy-inspector.yml
  a2a-inspector/DEPLOYMENT.md
  a2a-inspector/app/api/[[...slugs]]/route.ts
  a2a-inspector/app/api/ai-sdk-chat/route.ts
  a2a-inspector/next.config.ts
  a2a-inspector/vercel.json
  vercel.json
Due: lint-fix, typecheck

fix(turbo): add env vars to globalPassThroughEnv for Biome lint
  turbo.json
Due: lint-fix

fix(lint): add missing env vars to turbo.json, fix lint errors
  biome.json
  examples/agents/src/agents/number-game/alice/agent.ts
  examples/agents/src/shared/telemetry/console.ts
  turbo.json
Due: lint-fix, typecheck

perf(ci): consolidate build/typecheck/lint/test into single job
  .github/workflows/ci.yml
Due: none

fix(vercel): remove functions block, use route segment config instead
  vercel.json
Due: lint-fix

fix(vercel): run pnpm from repo root via -C .. (no cd)
  a2a-inspector/vercel.json
Due: lint-fix

Path conditions:
  lint-fix: any of: *.{ts,tsx,js,jsx,json}
  typecheck: any of: *.{ts,tsx}
